.card {
  margin: 7px 0;
}

.singleCard .cardImg {
   display:flex;
   justify-content:center; /* horizontally center */
   align-items:center;    /* vertically center */
   height: 15em;
}

.card-img-top {
  width: auto !important;
  max-width:100%;
  max-height: 100%;
}

.firstLine, .thirdLine, .firstLine Button, .thirdLine Button, .secondLine {
  margin: 1%;
  width: 98%;
}

.secondLine button {
  margin: 1%;
  width: 48%;
} 

/* ------- ArticlePage CSS Part --------- */
.articlePage .cardImg {
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
}