body { 
    background-color: black;
}

.grey { background-color: black; }

.payment {
  margin-top: 1em;
}

.payment button {
  margin: 1%;
  width: 98%;
}

.priceAndEmpty button.btn-danger {
  width: 18%;
}

.priceAndEmpty button.btn-success {
  width: 78%;
}