.back-in-black {
    background-color: #212529;
}
.button-footer:hover {
    background-color: #abb2b9 !important;
} 

.input-color-white {
    color: #fff !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #fff !important;
    transition-duration: 0.6s !important;
}

input {
    background-color: transparent !important;
}

.main {
    min-height: 70vh; /* see the footer at the bottom even if page is empty */
}

.back-in-black {
    margin-top: 1rem;
}